<p>IMPRESSUM</p>
<table class="impressum">
<tbody>
<tr style="font-weight: bold;">
<td colspan="2" rowspan="">KANO</td>
</tr>
<tr>
<td>Kontakt</td>
<td>Hochschule Konstanz Technik, Wirtschaft und Gestaltung</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Alfred-Wachtel-Stra&szlig;e 8</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>78462 Konstanz</td>
</tr>
<tr>
<td>Postfach</td>
<td>100 543</td>
</tr>
<tr>
<td>Telefonnummer</td>
<td>+49 7531 206 0</td>
</tr>
<tr>
<td>Email-Adresse</td>
<td>kontakt@htwg-konstanz.de</td>
</tr>
<tr>
<td rowspan="1">Gesamtverantwortung</td>
<td rowspan="1">Die Hochschule Konstanz ist eine K&ouml;rperschaft des &ouml;ffentlichen Rechts und staatliche Einrichtung zugleich. Sie wird durch den Pr&auml;sidenten Prof. Dr. Carsten Manz gesetzlich vertreten.</td>
</tr>
<tr>
<td>Umsatzsteuer- Identifikationsnummer</td>
<td>DE 811455044</td>
</tr>
<tr>
<td>Konzept und Gestaltung</td>
<td>Janina Beck (email), James Friese (email), Katharina Lohr (email), Felix Schlicht (email), Sarah Schucker (email)</td>
</tr>
<tr>
<td>Urheberrechtshinweis</td>
<td>Da die Texte, Bilder und Grafiken sowie das Layout von der Hochschule Konstanz selbst erstellt wurden, sind sie durch das Urheberrecht gesch&uuml;tzt und d&uuml;rfen damit beispielsweise weder kopiert, noch ver&auml;ndert, noch auf anderen Web-Seiten verwendet werden. Jede Nutzung, die vom Urheberrecht nicht zugelassen ist, bedarf der vorherigen Zustimmung der Pressestelle.</td>
</tr>
<tr>
<td>Externe Links</td>
<td>Die Hochschule Konstanz ist nach den allgemeinen Gesetzen f&uuml;r die eigenen Inhalte verantwortlich. Bei Querverweisen auf andere Anbieter (externen Links), liegt die Verantwortung bei dem jeweiligen Betreiber / Verfasser (siehe: Rechtlicher Hinweis).</td>
</tr>
<tr>
<td>Rechtlicher Hinweis</td>
<td>F&uuml;r den Inhalt der Seiten, die von dieser Seite aus per Link erreichbar sind, sind die jeweiligen Betreiber / Verfasser selbst verantwortlich und haftbar. Von etwaigen illegalen, pers&ouml;nlichkeitsverletzenden, moralisch-ethisch oder in sonstiger Weise anst&ouml;&szlig;igen Inhalten distanzieren wir uns hiermit ausdr&uuml;cklich.</td>
</tr>
</tbody>
</table>
<div class="testimonials">
<p>&nbsp;</p>
<p>DATENSCHUTZERKL&Auml;RUNG</p>
<p>Beim Zugriff auf das Internetangebot der Hochschule Konstanz werden in einer Protokolldatei folgende Daten gespeichert:</p>
<ul>
<li>Abgerufene URL</li>
<li>Datum und Uhrzeit des Abrufs</li>
<li>&uuml;bertragene Datenmenge</li>
<li>Meldung, ob der Abruf erfolgreich war</li>
<li>IP-Adresse</li>
<li>URL der verweisenden Seite (referer)</li>
</ul>
<p>Die gespeicherten Daten werden nicht an Dritte weitergegeben und dienen nur zur Optimierung des Internetangebotes und zur Fehlersuche. Die gespeicherten Daten werden nach 3 Tagen gel&ouml;scht.</p>
<p>Beim Besuch der Hochschul-Webseiten werden automatisch mehrere so genannte Session-Cookies gesetzt, die beim Schlie&szlig;en Ihres Browsers automatisch gel&ouml;scht werden. In sp&auml;teren Browser-Sitzungen ist diese Information nicht mehr verf&uuml;gbar.</p>
<p>Diese Website benutzt externe JavaScript-Bibliotheken wie ...</p>
<p>F&uuml;r die Verbesserung des Webauftritts verwendet die Hochschule Konstanz eine Software zur Analyse der Webseitenzugriffe (piwik.org). Dabei werden beim Besuch dieser Seite folgende Daten gespeichert:</p>

<ul>
<li>Abgerufene URL</li>
<li>Datum und Uhrzeit</li>
<li>&uuml;bertragene Datenmenge</li>
<li>URL der verweisenden Seite (referer)</li>
<li>Browserkennung - Browserversion, Betriebssystem, Bildschirmaufl&ouml;sung, Plugins</li>
<li>IP-Adresse in gek&uuml;rzter Form, d.h. das letzte Tuple wird auf Null gesetzt</li>
</ul>
<p>&nbsp;</p>
<p>Die anonymisierten Daten (K&uuml;rzung der IP-Adresse) werden 90 Tage aufbewahrt. Sollten Sie auch mit der kurzfristigen anonymisierten Speicherung Ihrer Zugriffe nicht einverstanden sein, k&ouml;nnen Sie die DNT (Do not Track) Funktion Ihres Webbrowser aktivieren (ab Firefox 4, Internet Explorer 9, Safari ab OS X Lion). Die erhobenen Daten werden ausschlie&szlig;lich auf Systemen der Hochschule Konstanz verarbeitet. Eine Speicherung oder die Auswertung des Zugriffsverhaltens eines identifizierbaren Nutzers findet nicht statt.</p>
</div>
